export MSP430GCC_TOOLCHAIN_PATH=/Users/byeongjee/migration/msp430-gcc
export MSP430GCC_SUPPORT_PATH=/Users/byeongjee/ti/msp430-gcc
export OTII_SERVER_BIN=/Applications/Otii\ 3.app/Contents/Resources/otii_server
export OTII_USERNAME=your_username
export OTII_PASSWORD=user_password

